{% extends 'gallery/base.html' %}
{% load static %}



{% block content %}

     <div class="container">
        <div class="row">
            <div class="col m4 s12"></div>

            <div class="col m4 s12 align-right">
                <form method="GET">
    {{ filter.form }}

     <button class="btn waves-effect waves-light" type="submit" >Search
                        <i class="material-icons right">send</i>
                    </button>
</form>
            </div>
        </div>
      <div class="col m4 s12"></div>
        <div class="row">
            <h3 class="center">MY Paintings</h3>
           {% for p in filter.qs %}
                <div class="col m6 s12">
                    <img class="materialboxed" style="width: 100%; height: 200px" src="{{ p.paint_image.url }}">
                    <div class="col m12 s12">
                        <div class="card-panel teal" style=" border-top-left-radius: 20px; ">
                            <h5 class="white-text">Paint Name: <span class="white-text"
                                                                     style="text-transform: uppercase;">{{ p.paint_name }}</span>
                            </h5>
                            <p class="white-text">{{ p.description }}</p>
                            <span class="badge red"
                                  style="color: white; border-radius: 20px;">{{ p.category }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}